<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<log4net>		
		<root>
			<level value="ALL" />
			<appender-ref ref="DebugAppender"/>
			<appender-ref ref="FileAppender"/>
		</root>		
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\CTP-SYSTEM-NET-LOG\log4netlog.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="1"/>
			<maximumFileSize value="5MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger ${COMPUTERNAME} / ${USERNAME} - %message%newline%exception"/>
			</layout>
		</appender>

		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<immediateFlush value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %property{detailContext} %-5level %logger [%ndc]  - %message%newline%exception"/>
			</layout>
		</appender>
	</log4net>	
    <appSettings>
      <add key="ConnectionString" value="DataSource=COSTEXM15;UserID=aalzate;Password=Development;DataCompression=True;"/>
      <add key="Version" value="V.02/20/20"/>
      <add key="strCompany" value="COSTEX"/>
      <add key="strdatabase" value="dbCTPSystem"/>
      <add key="strconnection" value="DSN=COSTEX400;UID=INTRANET;PWD=CTP6100;"/>
      <add key="strcrystalconn" value="DSN=COSTEX400;UID=INTRANET;PWD=CTP6100;"/>
      <add key="strconnSQL" value="Data Source=CTPSystem;Initial Catalog=dbCTPSystem;User Id=sa;Password=ctp6100;"/>
      <add key="strcrystalconnSQL" value="DSN=CTPSystem;UID=sa;PWD=ctp6100;"/>
      <add key="strmailhostctp" value="mail.costex.com"/>
      <add key="strconnSQLNOVA" value="DSN=NOVATIME;UID=NTI_CS;PWD=csadmin;"/>
      <add key="strcrystalconnSQLNOVA" value="strcrystalconnSQLNOVA"/>
      <add key="pathgeneralTest" value="C:\TestFileFunction\"/>
      <add key="urlPathGeneral" value="\\DELLSVR\Inetpub_D\"/>
	  <add key="urlPathImgNew" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG "/>
	  <add key="urlPathXsdFile" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG\xsdSchema.xsd "/>
	  <add key="urlPathStartImg" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG\img_logo_main.png "/>
	  <add key="urlPathPDTemplate" value="\\DELLSVR\\Inetpub_D\\CTP_NEW_PROD_DEVELOPMENT_IMG\\EXCEL-TEMPLATE\\PD_Template\\Template-Original.xlsx"/>
	  <add key="as400User" value="INTRANET"/>
      <add key="as400Pass" value="CTP6100"/>
      <add key="as400IpAddress" value="COSTEXM15"/>
      <add key="urlPathBase" value="https://costex.atlassian.net/browse/"/>
      <add key="printpath" value="\\DELLSVR\Inetpub_D\CTP_System\Reports"/>
      <add key="urlPartFiles" value="\\DELLSVR\Inetpub_D\PartsFiles\"/>
      <add key="urlPDevelopment" value="\\DELLSVR\Inetpub_D\PDevelopment\"/>
      <add key="flagProduction" value="0"/> <!-- when test equals 0, production equals 1  -->
      <add key="vendorCodesDenied" value="'R','O','C','P','S','Z'"/>
	  <add key="itemCategories" value="130245,070118,150064,261903,265163,263939,263534,262673,262369,261339,060106"/>
      <add key="vendorOEMCodeDenied" value="'416'"/>
	  <add key="vendorOEMExclude" value="111111"/>
	  <add key="authorizeUser" value=""/>
	  <add key="authorizeTestUser" value="AAVILA"/>
	  <add key="newMenuCodes" value="34,35"/>	
	  <add key="hideMDIForm" value="1"/>
	  <add key="sendToTestEmails" value="1"/>
	  <add key="testEmails" value="aavila@costex.com;lredondo@costex.com"/>
	  <add key="checkColumns" value="PartNo,UnitCost,MOQ,CTPNo,MFRNo"/>
	  <add key="closeStatus" value="cn,cs,cd,cl"/>
	  <add key="referenceUsersReports" value="FAUSTO,ANNALOPEZ"/>
	  <add key="LogMapping" value="All"/>
	  <add key="LogName" value="CTPSystem-Log"/>
	  <add key="Source" value="CTPSystem-Net"/>
	  <add key="AutomaticExcel" value="true"/>
	  <add key="ProcessName" value="CTP_IS_VBNET"/>
	  <add key="UserExcelTest" value="LREDONDO"/>
		
	</appSettings>
</configuration>
